@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&family=Sacramento&display=swap');

body{
    font-family: 'Amiri', serif;
    margin: 0px;
    padding: 0px;
}

.header-title{
     font-family: 'Sacramento', cursive;
     background-image: url(./imgs/header.jpg);
     background-position: bottom;
     color: white;
     min-height: 200px;
     background-size: cover;
     padding: 50px;
     text-align: center;
     margin: 0px;
     font-size: 62px;
}

.nav-menu{
    background-color: #473e36;
    padding: 15px;
    text-align: center;
}

.nav-link{
    color: white;
    font-size: 25px;
    margin: 10px;
    text-decoration: none; /*removes underline*/
    border-style: solid;
    border-radius: 5px;
    padding: 4px;
    display: inline-block;
    width: 100px;

}

footer{
    background-color: #313131; /*and #414141 are standard dark greys*/
    padding: 16px;
}

.footer-text{ /*needed because it's the paragraph IN footer, not footer as its own*/
    margin: 0px;
    color: white;
    font-size: 18px;
    text-align: center;
}

section{
    max-width: 800px;
    margin: auto; /*basically centers it*/
}

.home-image{
    width: 100%;
}

.price-table{
    border: solid;
}

.price-table td{
    border-style: solid;
    border-width: 1px;
}

.gallery-img{
    width: 32%;
}

.gallery-video{
    width: 100%;
    height: 400px;
}

.map{
    width: 100%;
    height: 400px;
}